<html>

<head>
    <title>UrbanSound</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input:file').change(function () {
                if ($(this).val()) {
                    $('button:submit').attr('disabled', false);
                    $('input:button').attr('value', $(this).val().split('\\').pop()); }
            });

            $('#my-button').click(function(){
                $('#fileInput').click();
            });



        });
    </script>
</head>

<body>
    <div class="bg-light rounded">
        <h1 class="text-center text-secondary">UrbanSound</h1>
        <hr />
    </div>
    <div class = "bg-light">
    <div class="container">

        <form class="form" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <input type="button" id="my-button" class = "btn btn-default btn-lg btn-block" value="Select File(.wav)">
                <input type="file" name="fileInput" id="fileInput" accept=".wav" style="visibility: hidden;">
                <button type="submit" class="btn btn-primary btn-block" value="submit" disabled>Submit</button>

            </div>
        </form>
        <hr />
        <div id="result">
            {% for para in result %}
                <p class="h4 text-secondary">{{para}} seconds</p>
            {% endfor %}
        </div>
    </div>
    </div>


</body>

</html>
